<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fortress of Solitude</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../CSS/style.css">
</head>
	
<body>
	<div id="wrapper">
		<div class="topbox">
			<header> <!-- Header contains the our logo and name -->
				<img class="logo" src= "../images/temp.jpg" alt="Fortress of Solitude Logo" />
				<h1>Fortress of Solitude</h1>
				<h2>This is our motto here</h2>
			</header>
			
			<nav>
				<ul> <!-- Navigation bar element -->
					<li><a class="navi" href="index.html">Home</a></li>
					<li><a class="navi" href="games.html">Games</a></li>
					<li><a class="navi" href="veterans.html">Veterans</a></li>
					<li><a class="navi" href="discord.html">Discord</a></li>
				</ul>
			</nav>
		</div>
		<main>
			
		</main>
		
		<footer>
			<p>Email adress here</p>
			<p>copyright info here</p>
		</footer>
	</div>
</body>
</html>