@import url(https://fonts.googleapis.com/css?family=Nosifer);

html {
}

body {
	background-color: #cccccc;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-repeat:no-repeat;
	background-position: fixed;
}

#wrapper {
	max-width: 80%;
	margin: 0 auto;
}

header {
	max-width: 100%;
}

.logo {
	margin: .3em .2em;
	width: 100%;
}

/* h1 style for font */
h1 {
	display: inline-block;
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

.navi {
	display: inline-block;
	list-style: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	text-decoration: none;
	-webkit-text-decoration: none;
	box-sizing: content-box;
	padding: .3em;
	border: none;
	font: normal 1.5em "Monoton", Helvetica, sans-serif;
	color: rgba(255,255,255,1);
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-shadow: 
		0 0 3px rgb(255,255,255), 
		0 0 8px rgb(255,255,255), 
		0 0 5px rgb(255,255,255), 
		0 0 15px rgb(153, 102, 255), 
		0 0 25px rgb(153, 102, 255), 
		0 0 30px rgb(153, 102, 255), 
		0 0 30px rgb(153, 102, 255), 
		0 0 40px rgb(153, 102, 255);
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.navi:hover {
	text-shadow: 
		0 0 6px rgb(255,255,255), 
		0 0 16px rgb(255,255,255), 
		0 0 10px rgb(255,255,255), 
		0 0 10px rgb(153, 102, 255), 
		0 0 30px rgb(153, 102, 255), 
		0 0 60px rgb(153, 102, 255),
		0 0 60px rgb(153, 102, 255), 
		0 0 80px rgb(153, 102, 255);
}

nav ul {
	text-align: center;
	background-color: black;
	padding: .1em 1em;
	border-radius: .8em;
	margin-top: .2em;
}
nav li {
	display: inline-block;
	list-style: none;
	text-align: center;
	margin: 0 2em;
}

main {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
}

.contentcontainers {
	padding: 3em;
	background-color: black;
	text-shadow:
		.1em 0 .1em rgb(153, 102, 255),
		0 .1em .1em rgb(153, 102, 255),
		-.1em 0 .1em rgb(153, 102, 255),
		0 -.1em .1em rgb(153, 102, 255);
	border-radius: 2em;
}

main li {
	list-style: none;
}

h3 {
	font-size: 2em;
}

main p {
	font-size: 1.5em;
}

footer {
	font-size: .7em;
	text-align: right;
	margin-bottom: 4em;
	padding: 1em;
	width: 100%;
	background-color: black;
	color: white;
	margin-top: 1em;
	border-radius: 1em;
}

img {
	max-width: 100%;
}